<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My App{% endblock %}</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    

</head>
<body>
    
    <header >
        <nav>
            <a  href="/">Strona główna</a>
            <a href="/forum">Forum</a>
            <a href="/products">Produkty spożywcze</a>
           
            <a href="/diets">Dieta</a>
            <a href="/exercises">Ćwiczenia Fizyczne</a>
            <a href="/plan">Plan Treningowy</a>
            <a href="/bmi">Kalkulator BMI</a>
            <a href="/opinions">Opinie</a>
            <a href="/profile">Mój profil</a>
            <a href="/logout">Wyloguj</a>
           
        </nav>
        
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer class="footer footer-center bg-base-300 text-base-content p-4">
        <aside>
          <p>Copyright © {new Date().getFullYear()} - ZeusLifeGoodStyle</p>
        </aside>
      </footer>
</body>
</html>
