{% extends 'base.html' %}

{% block content %}
<div class="container my-4">
    <h1 class="text-center">Polityka Plików Cookies</h1>
    <p>Ta strona korzysta z plików cookies, aby zapewnić jej prawidłowe działanie oraz lepsze dostosowanie do Twoich potrzeb.</p>

    <h2>Czym są pliki cookies?</h2>
    <p>Pliki cookies to małe pliki tekstowe, które są przechowywane na Twoim urządzeniu podczas korzystania z naszej strony internetowej.</p>

    <h2>Dlaczego używamy plików cookies?</h2>
    <ul>
        <li>Zapewnienie prawidłowego działania strony.</li>
        <li>Dostosowanie treści do Twoich preferencji.</li>
        <li>Analiza sposobu korzystania z serwisu w celu jego ulepszania.</li>
    </ul>

    <h2>Jak zarządzać plikami cookies?</h2>
    <p>Możesz zarządzać plikami cookies w ustawieniach swojej przeglądarki. Możliwe jest ich blokowanie, usuwanie lub zezwalanie tylko na wybrane pliki cookies.</p>

    <h2>Kontakt</h2>
    <p>W razie pytań dotyczących naszej polityki plików cookies prosimy o kontakt: 
        <a href="mailto:kontakt@twojastrona.pl">kuba.krak32@gmail.com</a>.
    </p>
</div>
{% endblock %}
