{% extends 'base.html' %}

{% block title %}Diet Details{% endblock %}

{% block content %}
<h1>{{ diet.Tytuł }}</h1>
<p><strong>Wiek:</strong> {{ diet.Wiek }}</p>
<p><strong>Płeć:</strong> {{ diet.Płeć }}</p>
<p><strong>Poziom aktywności fizycznej:</strong> {{ diet.Poziom_aktywności_fizycznej }}</p>
<p><strong>Preferencje:</strong> {{ diet.Preferencje or 'None' }}</p>
<p><strong>Wykluczenia:</strong> {{ diet.Wykluczenia or 'None' }}</p>
<p><strong>Inne:</strong> {{ diet.Inne_szczegóły or 'None' }}</p>

<hr>

<h2>Plan dietetyczny</h2>
<div class="meal-plan">
    <h3>Śniadanie</h3>
    <p>{{ diet.Śniadanie }}</p>

    <h3>Drugie_śniadanie</h3>
    <p>{{ diet.Drugie_śniadanie or 'None' }}</p>

    <h3>Obiad</h3>
    <p>{{ diet.Obiad }}</p>

    <h3>Podwieczorek</h3>
    <p>{{ diet.Podwieczorek or 'None' }}</p>

    <h3>Kolacja</h3>
    <p>{{ diet.Kolacja }}</p>
</div>
<a href="/diets" class="btn glass">Back to Diets</a>
{% endblock %}
