{% extends 'base.html' %}

{% block title %}Edit Post{% endblock %}

{% block content %}
<h1>Edytuj post</h1>
<form method="POST" enctype="multipart/form-data">
    <label for="title">Tytuł:</label>
    <input type="text" name="title" id="title" value="{{ post.title }}" required>
    
    <label for="content">Treść:</label>
    <textarea name="content" id="content" rows="5" required>{{ post.content }}</textarea>
    
    <label for="image">Obrazek:</label>
    <input type="file" name="image" id="image">
    
    {% if post.image %}
    <p>Poprzedni obrazek:</p>
    <img src="{{ url_for('static', filename=post.image) }}" alt="Current Post Image" style="max-width: 300px;">
    {% endif %}
    
    <button type="submit" class="btn-save">Save Changes</button>
    <a href="{{ url_for('forum') }}" class="btn-cancel">Anuluj</a>
</form>
{% endblock %}
