{% extends 'base.html' %}

{% block title %}Exercises{% endblock %}

{% block content %}
<h1>Exercises</h1>

<div class="exercise-cards">
    <!-- Kafelek Home Exercises -->
    <div class="card bg-base-100 image-full w-96 shadow-xl">
        <figure>
            <img src="/static/images/home_exercises.webp" alt="Home Exercises" />
        </figure>
        <div class="card-body">
          <h2 class="card-title">Home Exercises</h2>
          <p>Explore exercises you can do at home.</p>
          <div class="card-actions justify-end">
            <button class="btn btn-primary"><a href="/exercises/home">View Home Exercises</a></button>
          </div>
        </div>
      </div>
    <!-- Kafelek Gym Exercises -->
    <div class="card bg-base-100 image-full w-96 shadow-xl">
        <figure>
            <img src="/static/images/gym_exercises.webp" alt="Gym Exercises"/>
        </figure>
        <div class="card-body">
          <h2 class="card-title">Gym Exercises</h2>
          <p>Explore exercises you can do at the gym.</p>
          <div class="card-actions justify-end">
            <button class="btn btn-primary"><a href="/exercises/gym" >View Gym Exercises</a></button>
          </div>
        </div>
      </div>
</div>

{% endblock %}