{% extends 'base.html' %}

{% block title %}Moje plany treningowe{% endblock %}

{% block content %}


<a href="{{ url_for('add_training_plan') }}" class="btn btn-primary">Dodaj Plan Treningowy</a>

<div class="training-plan-grid">
    {% for plan in plans %}
    <div class="training-plan-card">
        {% set days_translation = {
            "Monday": "Poniedziałek",
            "Tuesday": "Wtorek",
            "Wednesday": "Środa",
            "Thursday": "Czwartek",
            "Friday": "Piątek",
            "Saturday": "Sobota",
            "Sunday": "Niedziela"
        } %}
        
        <h3>{{ days_translation[plan.day_of_week] }}</h3>
        <p><strong>Czas:</strong> {{ plan.start_time }} - {{ plan.end_time }}</p>
        <p><strong>Kategoria:</strong> {{ plan.category }}</p>
        <p><strong>Ćwiczenie:</strong> {{ plan.exercise }}</p>
        <p><strong>Seria:</strong> {{ plan.sets }}</p>
        <p><strong>Powtórzenie:</strong> {{ plan.reps }}</p>
        <p><strong>Notatki:</strong> {{ plan.notes }}</p>
    </div>
    {% else %}
    <p>Nie dodano jeszcze planu treningowego</p>
    {% endfor %}
</div>
{% endblock %}
