{% extends 'base.html' %}

{% block content %}
<div class="container my-4">
    <h1 class="text-center">Polityka Prywatności</h1>
    <p>Twoja prywatność jest dla nas ważna. W niniejszej polityce wyjaśniamy, jakie dane zbieramy, jak je przetwarzamy i jakie masz prawa w związku z korzystaniem z naszej strony internetowej.</p>

    <h2>1. Jakie dane zbieramy?</h2>
    <p>Możemy zbierać następujące dane osobowe:</p>
    <ul>
        <li>Imię i nazwisko</li>
        <li>Adres e-mail</li>
        <li>Dane związane z korzystaniem z naszej strony, takie jak adres IP, typ przeglądarki i aktywność na stronie</li>
    </ul>

    <h2>2. W jakim celu przetwarzamy dane?</h2>
    <p>Twoje dane mogą być przetwarzane w następujących celach:</p>
    <ul>
        <li>Świadczenie usług oferowanych na naszej stronie</li>
        <li>Personalizacja treści i reklam</li>
        <li>Analiza i statystyka w celu ulepszania naszych usług</li>
        <li>Komunikacja z użytkownikami, np. odpowiadanie na zapytania</li>
    </ul>

    <h2>3. Jak długo przechowujemy dane?</h2>
    <p>Dane przechowujemy przez okres niezbędny do realizacji celów, dla których zostały zebrane, zgodnie z obowiązującymi przepisami prawa.</p>

    <h2>4. Udostępnianie danych osobowych</h2>
    <p>Twoje dane mogą być udostępniane wyłącznie w następujących przypadkach:</p>
    <ul>
        <li>Podmiotom przetwarzającym dane w naszym imieniu (np. dostawcom usług IT)</li>
        <li>Organom prawnym w przypadku wymaganym przepisami prawa</li>
    </ul>

    <h2>5. Twoje prawa</h2>
    <p>Masz prawo do:</p>
    <ul>
        <li>Dostępu do swoich danych</li>
        <li>Poprawiania swoich danych</li>
        <li>Usunięcia danych („prawo do bycia zapomnianym”)</li>
        <li>Ograniczenia przetwarzania</li>
        <li>Przenoszenia danych</li>
        <li>Sprzeciwu wobec przetwarzania danych w określonych przypadkach</li>
    </ul>
    <p>W celu skorzystania ze swoich praw prosimy o kontakt: <a href="mailto:kontakt@twojastrona.pl">kontakt@twojastrona.pl</a>.</p>

    <h2>6. Zmiany w Polityce Prywatności</h2>
    <p>Zastrzegamy sobie prawo do aktualizacji niniejszej Polityki Prywatności w dowolnym momencie. Wszelkie zmiany będą publikowane na tej stronie.</p>

    <h2>7. Kontakt</h2>
    <p>Jeśli masz pytania dotyczące naszej Polityki Prywatności, skontaktuj się z nami: 
        <a href="mailto:kontakt@twojastrona.pl">kuba.krak32@gmail.com</a>.
    </p>
</div>
{% endblock %}
