{% extends 'base.html' %}

{% block title %}Products{% endblock %}

{% block content %}
<h1>Healthy Products</h1>

<!-- Formularz filtrowania -->
<form method="GET" action="/products" class="filter-form">
    <div class="filter-row">
        <label for="category">Kategoria:</label>
        <select name="category" id="category">
            <option value="All">Wszystkie</option>
            {% for cat in categories %}
            <option value="{{ cat }}" {% if request.args.get('category') == cat %}selected{% endif %}>{{ cat }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="filter-row">
        <label for="min_proteins">Minimalne białka (g):</label>
        <input type="number" name="min_proteins" id="min_proteins" value="{{ request.args.get('min_proteins', '') }}">

        <label for="max_sugars">Maksymalne cukry (g):</label>
        <input type="number" name="max_sugars" id="max_sugars" value="{{ request.args.get('max_sugars', '') }}">
    </div>
    <div class="filter-row">
        <label for="min_fats">Min. Tłuszcze (g):</label>
        <input type="number" name="min_fats" id="min_fats" value="{{ request.args.get('min_fats', '') }}">

        <label for="max_fats">Maksymalne tłuszcze(g):</label>
        <input type="number" name="max_fats" id="max_fats" value="{{ request.args.get('max_fats', '') }}">
    </div>
    <div class="filter-row">
        <label for="min_health_score">Minimalny wynik zdrowia:</label>
        <input type="number" step="0.1" name="min_health_score" id="min_health_score" value="{{ request.args.get('min_health_score', '') }}">

        <label for="max_health_score">Maksymalny wynik zdrowia:</label>
        <input type="number" step="0.1" name="max_health_score" id="max_health_score" value="{{ request.args.get('max_health_score', '') }}">
    </div>
    <div class="filter-row">
        <label for="sort_by">Sortuj według:</label>
        <select name="sort_by" id="sort_by">
            <option value="">Domyślny</option>
            <option value="name" {% if request.args.get('sort_by') == 'name' %}selected{% endif %}>Name</option>
            <option value="health_score" {% if request.args.get('sort_by') == 'health_score' %}selected{% endif %}>Health Score</option>
        </select>
    </div>
    <div class="filter-row">
        <button type="submit">Filter</button>
        <a href="/products" class="reset-button">Reset</a>
    </div>
</form>


<hr>

<!-- Kafelki produktów -->
<div class="product-cards" >
    {% for product in products %}
    <div class="card bg-base-100 image-full w-96 shadow-xl" >
        {% if product.image %}
        <img src="{{ url_for('static', filename=product.image.split('static/')[-1]) }}" alt="{{ product.name }}" class="product-image">
        {% else %}
        <figure>
        <img src="/static/images/placeholder.jpg" alt="No Image Available">
        </figure>
        {% endif %}
        <div class="card-body">
        <h2>{{ product.name }}</h2>
        <p><strong>Kategoria:</strong> {{ product.category }}</p>
        <p><strong>Białka:</strong> {{ product.proteins }}g</p>
        <p><strong>Węglowodany:</strong> {{ product.carbs }}g (of which sugars: {{ product.sugars }}g)</p>
        <p><strong>Tłuszcze:</strong> {{ product.fats }}g (saturated: {{ product.saturated_fats }}g)</p>
        <p><strong>Sól:</strong> {{ product.salt }}g</p>
        <p><strong>Wynik zdrowia:</strong> {{ product.health_score }}</p>
    </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
