{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
<h1>My Profile</h1>

<div class="profile-grid">
    <a href="/profile/details" class="profile-card">
        <h2>Personal Details</h2>
        <img src="{{ url_for('static', filename='icons/profile_details.webp') }}" alt="Personal Details">
    </a>
    <a href="/profile/diets" class="profile-card">
        <h2>My Diets</h2>
        <img src="{{ url_for('static', filename='icons/my_diets.webp') }}" alt="My Diets">
    </a>
    <a href="/profile/training-plan" class="profile-card">
        <h2>My Training Plan</h2>
        <img src="{{ url_for('static', filename='icons/training_plan.webp') }}" alt="My Training Plan">
    </a>
    <a href="/profile/achievements" class="profile-card">
        <h2>Achievements</h2>
        <img src="{{ url_for('static', filename='icons/achievements.webp') }}" alt="Achievements">
    </a>
    <a href="/profile/settings" class="profile-card">
        <h2>Settings</h2>
        <img src="{{ url_for('static', filename='icons/settings.webp') }}" alt="Settings">
    </a>
    <a href="/profile/journal" class="profile-card">
        <h3>My Journal</h3>
        <img src="{{ url_for('static', filename='icons/journal.webp') }}" alt="journal">
    </a>
</div>
{% endblock %}
