{% extends 'base.html' %}

{% block title %}Personal Details{% endblock %}

{% block content %}


<div class="profile-card">
    {% if user.profile_image %}
    <img src="{{ url_for('static', filename=user.profile_image) }}" alt="Profile Image" class="profile-image">
    {% else %}
    <img src="{{ url_for('static', filename='default_profile.png') }}" alt="Default Profile Image" class="profile-image">
    {% endif %}

    <div class="profile-info">
        <p><strong>Imię:</strong> {{ user.first_name or 'Not provided' }}</p>
        <p><strong>Nazwisko:</strong> {{ user.last_name or 'Not provided' }}</p>
        <p><strong>Data urodzin:</strong> {{ user.birth_date or 'Not provided' }}</p>
        <p><strong>Wiek:</strong> {{ user.age or 'Not provided' }}</p>
        <p><strong>Waga:</strong> {{ user.weight or 'Not provided' }} kg</p>
        <p><strong>Wzrost:</strong> {{ user.height or 'Not provided' }} cm</p>
        <p><strong>Docelowa waga:</strong> {{ user.weight_goal or 'Not provided' }} kg</p>
        <p><strong>Bio:</strong> {{ user.bio or 'Not provided' }}</p>
        <p><strong>Ulubione jedzenie:</strong> {{ user.favorite_foods or 'Not provided' }}</p>
        <p><strong>Ulubione produkt spożywczy:</strong> {{ user.favorite_products or 'Not provided' }}</p>
    </div>

    <a href="{{ url_for('edit_profile_details') }}" class="btn glass">Edytuj</a><a href="{{ url_for('profile') }}" class="btn glass">Powrót</a>

</div>
{% endblock %}
